* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #faebd7;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 80px;
    width: 100%;
    padding: 0 50px;
}

figure {
    height: 100%;

}

figure img {
    height: 100%;
}

nav {
    display: flex;
    justify-content: center;

    gap: 30px;
    flex: 1;
}

nav a {
    text-decoration: none;
    font-size: 23px;
    color: black;
    text-shadow: 0px 0px 2px #FA7436;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
    font-weight: 600;
    scale: 1.1;
}

.header-buttons {
    display: flex;
    flex-wrap: nowrap;
}

.header-buttons img {
    display: none;
    width: 40px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #FA7436;
    margin-bottom: 10px;
}

.login-btn {
    background-color: antiquewhite;
    color: #FA7436;
    padding: 5px 30px;
    font-weight: 700;
    text-decoration: none;
    border: none;
    font-size: 21px;
    cursor: pointer;
}

.signup-btn {
    background-color: antiquewhite;
    color: #FA7436;
    padding: 5px 30px;
    font-weight: 700;
    text-decoration: none;
    border: none;
    font-size: 21px;
    cursor: pointer;
    white-space: nowrap;
}

.signup-btn:hover,
.login-btn:hover {

    font-size: 18px;
    color: antiquewhite;
    font-weight: 600;
    background-color: #FA7436;
    border-radius: 10px;
    cursor: pointer;
}


/*Karşılama sayfası class-hero*/

.hero {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 100px);
    /*header hariç ekranı kapladı*/
    width: 100%;


}

.details {
    margin: 50px;
    display: flex;
    align-items: center;
    gap: 100px;
    height: 50%;
    width: 100%;
}

.details .content {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    gap: 25px;



}

.details .content h1 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    font-weight: 700;

}

.details .content h1 span {
    color: #FA7436;
}

.details .content p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    color: rgb(31, 30, 30);
}

.btn-discover {
    background-color: antiquewhite;
    color: #FA7436;
    border: 1px solid #FA7436;
    border-radius: 5px;
    padding: 10px 20px;
    width: 20%;
    cursor: pointer;
}

.btn-discover:hover {
    background: linear-gradient(to right, #FA7436, antiquewhite);
    color: antiquewhite;
    font-size: 18px;
    border-radius: 15px;
    transition: all .3s ease;

}

.search-bar {
    background-color: white;
    border: 1px solid #FA7436;
    border-radius: 10px;
    width: 60%;
    margin: 5px 100px;
    padding: 10px;
    display: flex;
    gap: 100px;
    box-shadow: 0 0 2px black;
}

.search-card-header {
    display: flex;
    gap: 5px;
    cursor: pointer;

}

.search-card-header .title {
    font-size: 25px;
    font-weight: bold;
}

.search-btn {
    background-color: #FA7436;
    color: antiquewhite;
    border: 1px solid #FA7436;
    border-radius: 5px;
    padding: 10px 30px;
    margin: 15px;
    width: 20%;
    cursor: pointer;
}

.search-btn:hover {
    background: linear-gradient(to left, white, #FA7436);
    color: black;
    transform: scaleX(1.1)
}

/*Yapmanız gerekenler bölümü*/
.need {
    height: 100vh;
    background-color: antiquewhite;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;


}

.need-header {
    position: relative;

    margin: 0 50px;
}

.need-header img {
    position: absolute;
    margin: -100px 700px;

}

.need-details h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.need-details h2 span {
    color: #FA7436;
}

.need-details p {
    text-align: center;
    font-size: 20px;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.need-cards-area {
    width: 70%;
    display: flex;
    gap: 30px;
}

.need-cards {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 1px 1px 2px #FA7436;

}

.need-cards img {
    height: 50px;
    width: 50px;
}

.need-cards:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 4px black;
}

/*Fırsatlar bölümü*/
.deals {
    height: 100vh;
    background-color: antiquewhite;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.deals-header h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.deals-header h2 span {
    color: #FA7436;
}

.deals-header p {
    text-align: center;
    font-size: 20px;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.deals-cards-area {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.deals-cards {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 1px 1px 2px #FA7436;

}

.deals-cards img {
    height: 250px;
    width: 250px;
}

.deals-card-detail {
    display: flex;
    justify-content: space-between;
    gap: 5px;

}

.deals-card-detail h4 {
    font-size: 25px;
    flex: 1;
}

.deals-card-detail .raiting {
    font-size: 20px;
}

.star img {
    height: 20px;
    width: 20px;
}

.deals-card-footer {
    display: flex;
    justify-content: space-between;
}

.deals-cars-foter-left {
    display: flex;
    gap: 5px;
}

.deals-cars-foter-left h6 {
    font-size: 20px;
}

.deals-cars-foter-left img {
    height: 20px;
    width: 20px;
}

.deals-cars-foter-right span:last-child {
    background-color: #f1c1aa;
    color: #FA7436;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
}

.deals-cards:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 4px black;
}

.deals img {
    cursor: pointer;
}
/*Hakımızda bölümü about section*/
.about{
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.about .content{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}
.about .content h2{
    width: 40%;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;

}
.about .content h2 span{
    color: #FA7436;
}
.about .content p{
    text-align: center;
    font-size: 20px;
    margin: 15px 100px;
    font-family: Arial, Helvetica, sans-serif;

}
.about .comment{
    background-color: white;
    border-radius: 10px;
    height: 30%;
    width: 30%;
    margin-right: 200px;
    box-shadow: 2px 2px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    z-index: 2;
}
.about .comment img{
    height: 80px;
    width: 80px;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -30px;
    margin-top: -30px;
}
.about .comment p{
    text-align: justify;
    font-size: 20px;
    margin:  50px 20px 10px 50px ;
    font-family: Arial, Helvetica, sans-serif;
}
.about .comment h4{
    
    
    font-size: 20px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.about .comment h5{
    
    font-size: 15px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.about .bottom-card{
    background-color: white;
    border-radius: 10px;
    height: 30%;
    width: 25%;
    box-shadow: 2px 2px 5px black;
    position: absolute;
    z-index: 1;
    right: 11%;
    bottom: 30%;
}
.about .element{
    position: absolute;
    top: 20%;
    right: 30px;
}
/*Footer bölümü*/
footer{
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
footer .subscribe{
    width: 50%;
    height: 30%;
    background-color: #FA7436;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    position: relative;
}
.subscribe img:last-child{
    position: absolute;
    width: 35%;
    left: 0;
    bottom: 0;
}
.subscribe img:first-of-type{
    position: absolute;
    width: 15%;
    right: 0;
    top: 0;
}
.subscribe h3{
    margin: 45px auto;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 700;
}
.subscribe .label{
    background-color: white;
    width: 40%;
    margin: auto;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 15px;
    border-radius: 5px;
    
}
.subscribe .label button{
    border: 1px solid #FA7436;
    
    padding: 5px 15px;
    background-color: #FA7436;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    color: white;
    cursor: pointer;

    
}
.subscribe .label img{
    width: 15px;
    position: static;
    
}
.subscribe .label input{
    flex: 1;
    border: none;
    outline: none;
}
.subscribe .label input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(180, 180, 180);
    font-size: 15px;
}
.info{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.info1{
    flex: 1;
}
.info1 img{
    height: 90px;
}
.info1 p{
    padding-left: 25px;
    color: gray;
    
}
.info-right{
    margin: 15px 20px;
}
.info-right h5{
    font-size: 20px;
    margin: 10px 15px 25px 0;

}

.info-right h4{
    font-size: 15px;
    color: gray;
    margin: 10px 0;
}




@media (max-width:1100px) {

    /*Kuçük ekran boyutunda navbar ögeleri ve butonlar kaybolup menü iconu görünür.*/
    .header-buttons img {
        display: inline-block;
    }

    nav,
    .signup-btn,
    .login-btn {
        display: none;
    }

    /*hero alanındaki yazı küçülecek*/
    .details {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        width: 100%;

        height: 50%;
        margin: 50px 0 0 0;
    }

    .details .content {
        padding: 0 50px;
        gap: 5px;

    }

    .details figure {
        order: -1;
    }

    .details .content h1 {
        text-align: center;
        width: 100%;
        font-size: 60px;
    }

    .details .content p {
        width: 100%;
    }

    .search-bar {
        gap: 20px;
        margin: 200px auto;
        width: 80%;
    }

    /*Yapmanız gerekenler bölümü*/
    .need-header img {
        margin: -50px 450px;

    }

    /*Fırsatlar bölümü*/
    .deals-cards-area {
        width: 70%;  
        flex-direction: column;
    }
    .deals-cards {
        height: 150px;
        flex-direction: row;
        position: relative;
    }
    .deals-cards .photo{
        height: 100%;
    }
   
    .deals-card-footer{
        position: absolute;
        left: 280px;
        bottom: 10px;
        gap: 40px;
    }
    .deals-card-detail{
        gap: 5px;
    }
    .deals-card-detail h4{
        
        gap: 30px;
    }
    /*Hakkımızda bölümü*/
    .about{
        flex-direction: column;
    }
    .about .comment{
        margin: 40px 50%;
        width: 60%;
    }
    .about .bottom-card{
        width: 60%;
        bottom: 20%;
    }
    /*Footer bölümü*/
    footer .subscribe{
        width: 80%;
    }
    .subscribe .label{
        width: 60%;
    }
    .info{
        width: 80%;
    }
}